{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-corus-sidebar sidebar sidebar-dark accordion fs-3 text" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center m-1" href="/">
        <div class="sidebar-brand-icon mx-2">
            {% if user.empresa.logo %}
            <img width="90%" src="{{ user.empresa.logo.url }}" alt="Logo de la empresa">
            {% endif %}
        </div>
        <div class="sidebar-brand-text mx-3">
            <h3 class="text-white">{{ user.empresa.nombre }}</h3>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        General
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    {% if user.is_superuser  %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-bs-toggle="collapse"
            data-bs-target="#collapseSA" aria-expanded="false" aria-controls="collapseSA">
            <i class="fas fa-brain"></i>
            <span>Super-Admin</span>
        </a>
        <div id="collapseSA" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 font-weight-bold collapse-inner rounded">
                <a id="nav-usuarios" class="collapse-item font-weight-bold"
                    href="{% url 'usuarios:index' %}">Usuarios</a>
                <a id="nav-empresas" class="collapse-item font-weight-bold"
                    href="{% url 'empresas:index' %}">Empresas</a>
            </div>
        </div>
    </li>
    {% endif %}


    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'articulos:index' %}">
            <i class="fas fa-vote-yea"></i>
            <span>Articulos</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'requerimientos:index' %}">
            <i class="fas fa-scroll"></i>
            <span>Requerimientos</span>
        </a>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
{% block javascript %}

{% endblock javascript %}